@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "open-sans";
  src: local("open-sans"), url(./fonts/OpenSans-Regular.ttf) format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
}

.u_wrapper {
  max-width: 1200px;
  width: 100%;

  @media screen and (max-width: 1200px) {
    max-width: 100%;
    padding: 1rem;
  }
}

.b-shadow {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}

.font-luckiest-guy {
  font-family: "Luckiest Guy", cursive;
}
